@import "tailwindcss";

* {
  -ms-overflow-style: none;  
  scrollbar-width: none;     
}

*::-webkit-scrollbar {
  display: none;          
}


html {
  scroll-behavior: smooth
}

@theme {
  --font-jakarta: var(--font-jakarta-sans);
}

/* Landing Page  */
.landing-theme ::selection {
  background-color: #1a1a1a;
  color: #ffffff;
}

